$baseColor2: #f8cf8a; //主题色
$darkColor2: #cf9330; //未选中时 icon 暗色

$baseColor3: #fdd713; //主题色
$darkColor3: #f7b500; //未选中时 icon 暗色

$baseColor4: #e1b1eb; //主题色
$darkColor4: #702280; //未选中时 icon 暗色

$baseColor1: #4e9af3; //主题色
$darkColor1: #235c9e; //未选中时 icon 暗色